<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Dukaan Pay</title>

    <link rel="stylesheet" href="sform.css">

    <base href="/">
</head>

<body>
    <div class='line-text'>Dukaan Pay!</div>
    <br><br>
    
       <form action="/" method="post">
        <select name="firm" id="pet-select" class="f">
            <% for( let index = 0; index < users.length; index++ ) { %>
            <option value="<%= users[index].firm %>"><%= users[index].firm %></option>
            <% } %>
        </select>
        <br><br>
        <input type="text" name="total" placeholder="Enter Amount" class="f">
        <br><br>
        <button type="submit" class="f">Submit</button>
    </form>
    <br>
    <a href="/add" class="f">ADD FIRMS</a>
    <div>
        <table style="width:100%">
            <br>
            <tr style="font-weight: bolder;">
                <td>FIRM</td>
                <td>BANK</td>
                <td>Account No.</td>
                <td>BRANCH</td>
                <td>IFSC</td>
            </tr>
            <br>
            <% for( let index = 0; index < users.length; index++ ) { %>
                <tr>
                    <td><%= users[index].firm %></td>
                    <td><%= users[index].bank %></td>
                    <td><%= users[index].accno %></td>
                    <td><%= users[index].branch %></td>
                    <td><%= users[index].ifsc %></td>
                </tr>
            <% } %>
            
        </table>
    </div>
</body>

</html>